<div center-container main-content-margin>

  <div main>
    <md-list>

      <md-divider></md-divider>

      <md-tab-group>
        <md-tab label="问答">
          <md-card class="main-card" *ngFor="let item of items">

            <md-card-header>
              <div md-card-avatar class="example-header-image"></div>
              <md-card-title>{{ item.title }}</md-card-title>
              <md-card-subtitle>Dog Breed</md-card-subtitle>
            </md-card-header>

            <md-card-content *ngIf="item.img; else noPicTpl" hasPic bottom-0>
              <img main-item-img src="{{ item.img }}">{{ item.content }}
            </md-card-content>

            <ng-template #noPicTpl>
              <md-card-content bottom-0>
                {{ item.content }}
              </md-card-content>
            </ng-template>

            <md-card-actions>
              <button md-button>
                <md-icon class="example-icon">favorite</md-icon>
                喜欢
              </button>
              <button md-button>
                <md-icon class="example-icon">share</md-icon>
                分享
              </button>
              <button md-button>
                <md-icon class="example-icon">comment</md-icon>
                评论
              </button>
            </md-card-actions>

          </md-card>
        </md-tab>
        <md-tab label="专栏">
          <md-card class="main-card" *ngFor="let item of items">

            <md-card-header>
              <div md-card-avatar class="example-header-image"></div>
              <md-card-title>{{ item.title }}</md-card-title>
              <md-card-subtitle>Dog Breed</md-card-subtitle>
            </md-card-header>

            <md-card-content *ngIf="item.img; else noPicTpl" hasPic bottom-0>
              <img main-item-img src="{{ item.img }}">{{ item.content }}
            </md-card-content>

            <ng-template #noPicTpl>
              <md-card-content bottom-0>
                {{ item.content }}
              </md-card-content>
            </ng-template>

            <md-card-actions>
              <button md-button>
                <md-icon class="example-icon">favorite</md-icon>
                喜欢
              </button>
              <button md-button>
                <md-icon class="example-icon">share</md-icon>
                分享
              </button>
              <button md-button>
                <md-icon class="example-icon">comment</md-icon>
                评论
              </button>
            </md-card-actions>

          </md-card>
        </md-tab>
        <md-tab label="百科">
          <md-card class="main-card" *ngFor="let item of items">

            <md-card-header>
              <div md-card-avatar class="example-header-image"></div>
              <md-card-title>{{ item.title }}</md-card-title>
              <md-card-subtitle>Dog Breed</md-card-subtitle>
            </md-card-header>

            <md-card-content *ngIf="item.img; else noPicTpl" hasPic bottom-0>
              <img main-item-img src="{{ item.img }}">{{ item.content }}
            </md-card-content>

            <ng-template #noPicTpl>
              <md-card-content bottom-0>
                {{ item.content }}
              </md-card-content>
            </ng-template>

            <md-card-actions>
              <button md-button>
                <md-icon class="example-icon">favorite</md-icon>
                喜欢
              </button>
              <button md-button>
                <md-icon class="example-icon">share</md-icon>
                分享
              </button>
              <button md-button>
                <md-icon class="example-icon">comment</md-icon>
                评论
              </button>
            </md-card-actions>

          </md-card>
        </md-tab>
      </md-tab-group>

    </md-list>

  </div>

  <div side>
    <md-list>

      <md-card class="side-card" *ngFor="let folder of items">

        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>{{ folder.name }}</md-card-title>
          <md-card-subtitle>Dog Breed</md-card-subtitle>
        </md-card-header>

        <md-card-content>
          <h3 md-subheader>Notes</h3>

          <md-list-item *ngFor="let note of notes">
            <md-icon md-list-icon>note</md-icon>
            <h4 md-line>{{note.name}}</h4>
          </md-list-item>
        </md-card-content>

        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>

      </md-card>

    </md-list>
  </div>

</div>
